body {
    padding: 10px;
}

.pos{
position: absolute;
float: right;

}

.pad{
    padding: 70px;
}

.bim{
    color:  #5c2404;
}

.bom{
    color: #2765ab;
}
/*img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}