<div class=" container my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">
            <div class="card text-dark">
                <div class="card-body p-4">
                    <h3 class="mb-3">
                        Last comments
                    </h3>
                    <div>
                        {% for comment in comments %}
                            <ul class="media list-unstyled">
                                <li class="media-body"  style="margin: 0.5rem; padding: 0.2rem;">
                                    <div class="mb-4" >
                                        <p class="mb-0">
                                            {{comment.comment}}
                                        </p>
                                        <!--<hr class="my-0"/>-->
                                    </div>
                                    <div class="fw-bold mb-1"> 
                                        Posted by 
                                        <b>
                                            <em>
                                                {% if request.user == comment.user %}
                                                You
                                                {% elif request.user != comment.user %}
                                                {{ comment.user|capfirst}}
                                                {% endif %}
                                            </em>
                                        </b>
                                         on: {{comment.date_posted}}...
                                        <hr class="my-0"/>
                                    </div>
                                </li>
                            </ul>

                        {% empty %}
                            <p>
                                There are no comments for this post.
                            </p>
                        {% endfor %}
                    </div>
                    <div>
                        {% if user.is_authenticated %}
                            {% if listing.owner == user %}
                                <p>
                                    You cannot comment on your post.
                                </p>
                                        
                            {% else %}
                                <form action="{% url 'listing_comment' listing.slug %}" method="post">
                                    {{ comment_form.as_p }}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                                        Submit
                                    </button>
                                </form>
                            {% endif %}
                        
                        {% else %}
                            <a class="nav-link" href="{% url 'login' %}">
                                Log In
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
